.attribution {
    font-size: 1rem;
    color: #3c3f64;
    margin-left: 5rem;


    &__dev-atr {
        font-size: 1.05rem;
        color: #fff;
        padding: .5rem;
        background-color: #3c3f64;
    }
}